:root {
    --chess-board-size: 600px;
    --row-col-number: 8;
    --cell-size: calc(var(--chess-board-size) / var(--row-col-number));
}

.piece {
    position: absolute;
    width: var(--cell-size);
    will-change: transform;
    transition: transform 0.15s ease-in-out;
}

*.chess-board {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.chess-board {
    margin: 50px;
    position: relative;
    display: grid;
    grid-template-rows: repeat(var(--row-col-number), 1fr);
    grid-template-columns: repeat(var(--row-col-number), 1fr);
    width: var(--chess-board-size);
    height: var(--chess-board-size);
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell.light {
    background-color: #cfb99c;
}
.cell.dark {
    background-color: #977357;
}
.cell.selected {
    background-color: rgba(207, 153, 52, 0.9);
}