html {
    font-size: 16px;
    // @include breakpoint($breakpoint-big-desktop) {
    //     font-size: 19px;
    // }
}

body {
    background-color: var(--color-background-1);
    color: var(--color-text-1);
    font-family: $font-family-1;
    font-weight: $font-weight-medium;
}

::selection {
    background-color: var(--color-text-selection);
}